<h1>Stupid Coaching</h1>

<label class="form-label">Ask your coach anything:</label>

<div class="input-group mb-3">
  <form action="/answer" method="get" data-turbo="false">
    <input type="text" class="form-control" name="question" placeholder="Write your question here">
    <input type="submit" class="btn btn-outline-secondary" value="Ask!">
  </form>
</div>
